@{
    ViewBag.Title = "为途网登录";
}

<div class="panel" style="padding:10px;" >
    <h2 style="font-weight: 700; font-size: 14px; ">
        <a style="color: #259; text-decoration: none; " target="_blank" href="/question/25095039/answer/42428322">人的幸福感可以量化吗？</a>
    </h2>    
    <div>
        可以，主观幸福感量表还挺多的，国内外相关研究也多，量表的信效度也不错。但是量表的解释不是说谁幸福谁不幸福，而是采用幸福感程度更高来表述的。先占，回去找完资料再填。==========回来填坑，大部分是复制的本科毕业论文================幸福感是人们在…
    </div>
</div>
